<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp12.Properties.Settings.BooksConnectionString"
            connectionString="Data Source=DESKTOP-1MI1908;Initial Catalog=Books;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp12.Properties.Settings.BookssConnectionString"
            connectionString="Data Source=DESKTOP-HL87D4M\sqlexpress;Initial Catalog=Bookss;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>